.stylFondo {
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  z-index: 2;
  overflow: auto;
}

@media (max-width: 1024px) {
  .stylFondo {
    width: 70%;
    left: 15%;
    right: 15%;
  }
}

@media (max-width: 768px) {
  .stylFondo {
    width: 100%;
    left: 0;
    right: 0;
  }
}
