html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
}

.api-container {
  width: 80%;
}

.cuadro-main {
  position: relative;
  width: 90%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  max-height: 90vh;
  overflow: auto;
}

.colTd {
  font-weight: bold;
}

.colData {
  text-align: center;
}

@media (max-width: 1024px) {
  .api-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .api-container {
    width: 90%;
  }
}
