html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.cbz-header {
  background-color: rgba(240, 240, 240, 1);
  height: 8vh;
  font-family: Arial, sans-serif;
  z-index: 1;
}

.cbz {
  font-weight: 700;
  margin: 0;
}

.api-container {
  flex-grow: 1;
  position: relative;
  z-index: 5;
  max-width: 600px;
}

@media (max-width: 768px) {
  .api-container {
    margin: 20px;
  }
}

.pS {
  font-weight: bold;
}